

.nav-tabs1>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs1{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs1>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs1 li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked1>li+li{
  margin-top: 0;
}

.nav-tabs1>li>a:hover{
  background:#000;
  color:#fff;
}

.nav-tabs1>li.active>a, 
.nav-tabs1>li.active>a:hover, 
.nav-tabs1>li.active>a:focus {
  border: 0;
  color:#fff;
  background:#000;
  position: relative;
}

.nav-tabs1>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

